<body id="page-top">

<div id="wrapper">

  <app-nav></app-nav>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">
      <app-menu></app-menu>
      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div>

    </div>
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center pt-1 pb-1 my-auto">
          <span>Copyright &copy; Your Website 2020</span>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
